
20_movies_datasets_with_Scrapped_data/all_scrapped_data_1.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_10.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_11.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_12.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_13.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_14.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_15.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_16.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_17.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_18.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_19.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_2.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_20.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_21.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_22.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_3.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_4.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_5.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_6.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_7.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_8.csv
20_movies_datasets_with_Scrapped_data/all_scrapped_data_9.csv
20_movies_datasets/IMDb_movies_df_23.csv
1568 movies yet to scrape.csv
/20_movies_datasets_with_URL
/20_movies_datasets
/20_movies_datasets
/20_movies_datasets
/20_movies_datasets_with_Scrapped_data
all_final_reviews_df_sample.csv
all_reviews_df.csv
merged_df.csv
/myenv
*.csv
